body{
  margin:0;
  font-family:Arial;
  background:#0f1724;
  color:rgb(7, 7, 7);
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.container{
  width:90%;
  max-width:300px;
  background:#f0eeee;
  padding:20px;
  border-radius:12px;
  text-align:center;
}

.hidden{
  display:none;
}

h1, h2{
  margin-bottom:20px;
}

.btn{
  background:#06b6d4;
  padding:12px;
  border:none;
  border-radius:8px;
  width:80%;
  margin:8px 0;
  cursor:pointer;
  font-size:18px;
}

.btn.ghost{
  background:transparent;
  border:1px solid #6f76cf;
  color:#94a3b8;
}

.question{
  margin-top:10px;
  font-size:22px;
  font-weight:700;
}

.answers{
  margin-top:20px;
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
}

.answer{
  background:#5665b8;
  padding:12px;
  border-radius:6px;
  border:1px solid #334155;
  cursor:pointer;
}

.answer.correct{
  background:#28a745;

  border-color:#101110;
}

.answer.wrong{
  background:#dc3545;

  border-color:#080808;
}

.controls{
  margin-top:20px;
}

.progress{
  width:200px;
  height:10px;
  background:#636463;
  border-radius:20px;
  border-color: #0c0b0c;
  overflow:hidden;
  margin:auto;
}

.progress i{
  height:100%;
  background:#c92d2d;
  display:block;
  width:0%;
}

.score{
  font-size:20px;
}

.finalScore{
  font-size:28px;
  font-weight:800;
  margin:10px 0;
}
